<h1>沖縄RailsHackathon2012<br />エントリーチーム</h1>
<br />
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>コメント</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @teams) do |team| %>
      <td><%= team.name %></td>
      <td><%= team.comment %></td>
      <% if current_user %>
        <td><%= link_to '更新', edit_team_path(team) %></td>
        <td>&nbsp;&nbsp;</td>
        <td><%= link_to '結果！', team_summary_path(team) %></td>
      <% end %>
    <% end %>
  </tbody>
</table>


<br />
<% if @user%>
  <%= link_to '【投票する】', new_user_vote_path(@user.id) %>
<% end %>

<%= link_to '（デモを見る）', welcome_demonstration_path %>
