<h1>エントリーチーム</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>コメント</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @teams) do |team| %>
      <td><%= team.name %></td>
      <td><%= team.comment %></td>
      <td><%= link_to '更新', edit_team_path(team) %></td>
      <td><%= link_to '集計', team_summary_path(team) %></td>
    <% end %>
  </tbody>
</table>


<br />
<% if @user%>
<%= link_to '投票する', new_user_vote_path(@user.id) %>
<% end %>

