<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Comment</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @teams) do |team| %>
        <td><%= team.name %></td>
        <td><%= team.comment %></td>
        <td><%= link_to 'Show', team %></td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
<br />
<%= link_to '投票結果', {:controller => "votes" ,:action=>"index"}%>
<br />
<%= link_to '投票する', {:controller => "votes" ,:action=>"new"}%>
