<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <th>チーム名 </th>
      <th>得点</th>
    </tr>
    <% @teams.each do |t|%>
    <tr>
      <td><%= t.name %></td>
      <td><%= select("vote#{[t.id]}","sata",(1..5).to_a)%></td>
      <td><%= hidden_field "team_id", t.id %></td>
    </tr>
    <% end %>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
