<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.collection_select(:team_id,Team.all,:id,:name) %>
  </div>
  <div class="field">
    <%= f.label :sata %><br />
    <%= f.select(:sata,(1..10).to_a)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
